html,body{
	height: 100%;
	background: #fcfcfc;
}

.container {
	max-width: 900px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.no-padding{
	padding: 0!important;
}

video{
	display: block;
	flex-grow: 0;
	min-width: 100%;
	max-height: 300px;
}

#header{
	flex-grow: 0;
	height: 50px;
	background-color: #000;
	width: 100%;
}

#header img{
	max-height: 50px;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	float: left;
}

#header h1{
	float: left;
	display: block;
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	margin: 0;
	padding: 15px 0;
}

#timeline{
	flex-grow: 0;
	min-height: 20px;
	background: #eee;
	display: flex;
}

#timeline a{
	text-align: center;
	display: box;
	box-sizing: border-box;
	padding: 10px 0;
	flex: 1 1;
	border-right: 3px solid #fff;
}

#timeline a:last-child{
	border: none;
}

#timeline a.complete{
	background-color: #999;
}

#timeline a.active{
	background-color: #333;
}

mw-sentence{
	display: block;
	flex: 1 1;
	display: flex;
	flex-direction: column;
}

mw-finnish, mw-arabic{
	flex: 1;
	box-shadow: 0 1px 0 #bbb;
	text-align: center;
	padding: 40px 20px 0 20px;
	box-sizing: border-box;
}

mw-arabic{
	direction: rtl;
}

mw-finnish{
	z-index: 10;
	font-size: 0;
	line-height: 2;
}

mw-word{
	display: inline-block;
	margin: 5px 3px;
	font-size: 20px;
}

mw-finnish mw-word{	
	border: 2px solid rgba(0,0,0,0);
	border-left: none!important;
	border-right: none!important;
	margin: 0 3px;
}


mw-arabic mw-word{
	opacity: 0;
	transition: .3s;
}

mw-sentence.active mw-arabic mw-word{
	opacity: 1;
	text-shadow: 1px 1px 1px #fff;
}

mw-sentence:not(.active) mw-word{
	border-color: rgba(0,0,0,0)!important;
}

#tooltip{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	text-align: center;
	z-index: 10;
	opacity: 0;
	padding: 20px 0;
	transition: .3s;
	font-size: 20px;
}

#tooltip.active{
	display: block;
	opacity: 1;
}

mw-sentence mw-finnish mw-word.active{
	border-bottom: 2px solid #09f!important;
}

mw-tooltips{
	display: none;
}
mw-tooltip finnish-part:last-of-type:after{
	white-space: pre;content:'\A';;
}

